# Files with exercise results

*.pdf
*.ps
*~
*.root
*.png
*/HDECAY/
*HDECAY
*/FeynHiggs/
*FeynHiggs
*/pythia8311/
*.out
*main
*.tgz
*signal
/Project (copy)/
!*Project/GenData/noise.out
!*Project/GenData/signal.out
!*Project/GenData/noise.root
!*Project/GenData/signal.root
!*Project/Graphs/Mass Distribution.png
!*Project/Graphs/Mass Distribution.pdf
!*Project/Graphs/Mass Distribution.C
*.key
*.DS_Store
*.dSYM/
